/*
.footer {
  font-size: 10px;
  line-height: 12px;
}

.footer-navigation-topics {
  font-size: 14px;
  line-height: 16px;
}

.footer-navigation-topic h2 {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.footer-navigation-item a {
  color: #4b1eb3;
  text-decoration: none;
}

.policy a {
  color: #a3ee00;
  text-decoration: none;
}*/